flows.json
[
    {
        "id": "2688e15233370755",
        "type": "mqtt in",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "topic": "/spo2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "657bc0236d214fac",
                "a9ad8caf8387228e"
            ]
        ]
    },
    {
        "id": "a1c144b1d93d44c5",
        "type": "mqtt in",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "topic": "/tempValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "657bc0236d214fac",
                "fd63593d68928743"
            ]
        ]
    },
    {
        "id": "657bc0236d214fac",
        "type": "join",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "fd4b39e6db9e4fa8"
            ]
        ]
    },
    {
        "id": "b11a65cc4cc9309b",
        "type": "ui_table",
        "z": "5158dcb0a5b3ed0f",
        "group": "2f5937d8d53a7826",
        "name": "Data Table",
        "order": 1,
        "width": 18,
        "height": 4,
        "columns": [
            {
                "field": "timeStamp",
                "title": "Time Stamp",
                "width": "30%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "/heartRate",
                "title": "Heart Rate",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "/spo2",
                "title": "SPO2",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "/tempValue",
                "title": "Temperature",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "sugar",
                "title": "Blood Sugar",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "fd4b39e6db9e4fa8",
        "type": "function",
        "z": "5158dcb0a5b3ed0f",
        "name": "AddToArray",
        "func": "var tableData = flow.get(\"savedData\") || []\n\nmsg.payload[\"timeStamp\"] = new Date().toLocaleString()\n\n// Add sugar to payload by formula Blood Glucose Level=0.5×Heart Rate+0.5×SpO2+0.2×Temperature\nmsg.payload[\"sugar\"] = 0.5*msg.payload[\"/heartRate\"] \n                        + 0.5*msg.payload[\"/heartRate\"]\n                        +0.2*msg.payload[\"/tempValue\"]\n// Unshift msg.payload to tableData\ntableData.unshift( msg.payload)\n// set msg.payload as tableData\nmsg.payload = tableData\n\nflow.set(\"savedData\", tableData)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"savedData\", [])",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "b11a65cc4cc9309b",
                "0a5990c42ab2d971"
            ]
        ]
    },
    {
        "id": "4d1f21240f291721",
        "type": "mqtt in",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "topic": "/heartRate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "657bc0236d214fac",
                "f979d83d8fc75d31"
            ]
        ]
    },
    {
        "id": "f979d83d8fc75d31",
        "type": "ui_gauge",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "group": "5dc35719525d8fd9",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Heart rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 0,
        "max": "675",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "a9ad8caf8387228e",
        "type": "ui_gauge",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "group": "5dc35719525d8fd9",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "SPO2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "fd63593d68928743",
        "type": "ui_gauge",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "group": "5dc35719525d8fd9",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "c",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 260,
        "wires": []
    },
    {
        "id": "7cf9546f20464121",
        "type": "telegram client sender",
        "z": "5158dcb0a5b3ed0f",
        "name": "",
        "bot": "38453e9c236cb604",
        "x": 740,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0a5990c42ab2d971",
        "type": "function",
        "z": "5158dcb0a5b3ed0f",
        "name": "CheckForThreshold",
        "func": "// Create thresholds variable and set key as sugar and set it to object with low and hign values\n\n// Get msg.payload[0] in currentData variable\n\n// Create status variable as empty string\n\n// Loop through each key in threshold\n\n  // Check if currentData[key] is beyond the lower and upper values of the threshold\n  \n    // Update the status with the message key reachd${key} reading is ${currentData[key]}. (range ${thresholds[key].low}-${thresholds[key].high}\n  \n  \n// Set msg.payload to {\n  //     \"api\": \"messages\",\n  //     \"func\": \"SendMessage\",\n  //     \"args\": {\n  //         \"peer\": \"\",\n  //         \"message\": status\n  //     }\n  // }\n  \n// Return the message\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "7cf9546f20464121"
            ]
        ]
    },
    {
        "id": "ac6659385df72324",
        "type": "mqtt-broker",
        "name": "C140",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2f5937d8d53a7826",
        "type": "ui_group",
        "name": "Reading History",
        "tab": "5203ed20c620594e",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5dc35719525d8fd9",
        "type": "ui_group",
        "name": "Live Tracking",
        "tab": "5203ed20c620594e",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "38453e9c236cb604",
        "type": "telegram client config",
        "botname": "Noderedexpbot",
        "verboselogging": false,
        "loginmode": "bot",
        "useproxy": false,
        "usewss": false,
        "host": "",
        "sockstype": "5",
        "port": "6667",
        "username": "anonymous",
        "password": "",
        "secret": "",
        "mtproxy": false,
        "timeout": "2",
        "info": "6499039108:AAGX8TObSomH6Frhw_bh3wr4kc_XrW6crPI\r\n"
    },
    {
        "id": "5203ed20c620594e",
        "type": "ui_tab",
        "name": "146 PCP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]